.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_box{
    height: 300px;
    width: 300px;
    display: flex;
    background-color: black;
    
}
button{
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bolder;
}
.restart{
    height: 20px;
    width: 100px;
    font-size: 15px;
}



/* function winner(){
    const wincombos = [
        [0,1,2],
        [0,3,6],
        [0,4,8],
        [1,4,7],
        [2,5,8],
        [3,4,5]
        [2,4,6]
        [6,7,8]
    ];

    for(let combo of wincombos){
        const[a,b,c]=combo ;
        if()
    }
} */
